aside.content__filters.filters
  .filters__price-level-filter
    ul.price-level-filter
      li.price-level-filter__item
        a(href="#").price-level-filter__link Флагманы
      li.price-level-filter__item
        a(href="#").price-level-filter__link.price-level-filter__link_active Бюджетная линейка
  .filters__basic-filters
    ul.basic-filters
      li.basic-filters__item
        a(href="#").basic-filters__link-trigger Наличие в магазинах
        ul.availability.accordeon__inner
          li.availability__item
            input(type="radio" id="allshops" name="availability" checked).radio-input
            label(for="allshops").radio-label Во всех магазинах
          li.availability__item
            input(type="radio" id="nearshop" name="availability").radio-input
            label(for="nearshop").radio-label В ближайшем ко мне магазине
      li.basic-filters__item
        a(href="#").basic-filters__link-trigger Бренды
        ul.accordeon__inner
          li.accordeon__inner-item
            +checkbox('brand', ['Lenovo', 'Apple', 'Samsung', 'Asus', 'Motorola'])
          li.accordeon__inner-item
            a(href="#").reset-filter Сбросить фильтр
      li.basic-filters__item
        .price-range
          a(href="#").basic-filters__link-trigger Цена
          ul.price-range__box.accordeon__inner
            li.accordeon__inner-item
              span.price-range__text от
              input(type="text" id="price-range__amount1").price-range__field
              span.price-range__text до
              input(type="text" id="price-range__amount2").price-range__field
            li.accordeon__inner-item
              .price-range__slider
      li.basic-filters__item
        a(href="#").basic-filters__link-trigger Цвет
        ul.accordeon__inner
          li.accordeon__inner-item
            +colorFilter(['white', 'gray', 'black', 'blue', 'red', 'yellow', 'orange', 'green', 'skyblue', 'violet', 'pink', 'brown'])
      li.basic-filters__item
          a(href="#").basic-filters__link-trigger Операционная система
          ul.accordeon__inner
            li.accordeon__inner-item
              +checkbox('os', ['Android', 'iOS', 'Windows', 'Symbian', 'Custom'])
            li.accordeon__inner-item
              a(href="#").reset-filter Сбросить фильтр