.content__sortline.sortline
  .catalog-view_wrap
    span.catalog-view_text Вид каталога
    ul.catalog-view
      li.catalog-view__item
        a(href="#").catalog-view__link.catalog-view__link_piclist pic
      li.catalog-view__item
        a(href="#").catalog-view__link.catalog-view__link_table.active table
      li.catalog-view__item
        a(href="#").catalog-view__link.catalog-view__link_list list
  .sortby
    label(for="select-field").sortby__label Сортировать
    select(id="select-field").sortby__select
      option(value="по цене").sortby__option по цене
      option(value="по популярности").sortby__option по популярности
