.content__sortline.sortline
  ul.catalog-view Вид каталога
    li.catalog-view__item
      a(href="#").catalog-view__link.catalog-view__link_piclist pic
    li.catalog-view__item
      a(href="#").catalog-view__link.catalog-view__link_table table
    li.catalog-view__item
      a(href="#").catalog-view__link.catalog-view__link_list list
  .sortby Сортировать по