.content__breadcrumbs {
  margin-bottom: 20px;
}

.breadcrumbs__list {
  font-size: 0;
}

.breadcrumbs__item {
  display: inline-block;
  position: relative;
  padding-left: 10px;
  margin-right: 5px;
  &:before {
    content: '>';
    font-size: 12px;
    left: 0;
    @include vertical-center;
  }
  &:first-child {
    padding-left: 0;
    &:before {
      content: '';
    }
  }
}

.breadcrumbs__link {
  font-size: 14px;
  font-family: 'open_sansregular';
  color: #333;
  &_active {
    color: #f60;
    text-decoration: underline;
  }
  &:hover {
    text-decoration: underline;
  }
}