.content__sortline {
  float: right;
  margin-bottom: 20px;
}

.sortline {
  width: 743px;
  height: 53px;
  background-color: #e4ebee;
  border: 1px solid #dee1e4;
  @include border-radius(5px);
  font-size: 14px;
  font-family: 'open_sansregular';
  color: #5d656c;
  @include clearfix;
}

.catalog-view_wrap {
  float: right;
  width: 266px;
  line-height: 53px;
}

.catalog-view {
  float: right;
}

.catalog-view__item {
  display: inline-block;
  width: 51px;
  margin-right: -4px;
  border-left: 1px solid #dee1e4;
  &:first-child {
    margin-left: 17px;
  }
  &:last-child {
    margin-right: 0;
  }
}

.catalog-view__link {
  display: block;
  position: relative;
  color: transparent;
}

.catalog-view__link_piclist:after {
  content: '';
  display: block;
  @include sprite($view-pic-list);
  @include absolute-center;
}

.catalog-view__link_piclist:hover:after,
.active.catalog-view__link_piclist:after {
  @include sprite($view-pic-active);
}

.catalog-view__link_table:after {
  content: '';
  display: block;
  @include sprite($view-thumbnail);
  @include absolute-center;
}

.catalog-view__link_table:hover:after,
.active.catalog-view__link_table:after {
  @include sprite($view-thumbnail-active);
}

.catalog-view__link_list:after {
  content: '';
  display: block;
  @include sprite($view-list);
  @include absolute-center;
}

.catalog-view__link_list:hover:after,
.active.catalog-view__link_list:after {
  @include sprite($view-list-active);
}

.sortby {
  padding-left: 20px;
  width: 265px;
  line-height: 53px;
}

.sortby__select {
  display: inline-block;
  padding-top: 10px;
}

.sortby__label {
  margin-right: 5px;
}

.selectize-input {
  @include vertical-center;
  padding: 4px 14px;
  font-size: 13px!important;
  color: #7f7f7f;
  font-family: 'open_sanslight';
  width: 145px;
  height: 28px;
  background: white!important;
  border: 0.5px solid #ebedef!important;
  @include border-radius (0 0 3px 3px);
  outline: none;
  box-shadow: inset 0 1px 1px rgba(148, 148, 148, 0.43)!important;
}

.selectize-dropdown {
  z-index: 10;
  border: 0.5px solid #ebedef!important;
  border-top: none!important;
  background: #ffffff;
  margin: -1px 0 0 0;
  box-sizing: border-box;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  @include border-radius (0 0 3px 3px);
  padding: 5px;
  font-size: 13px!important;
  color: #7f7f7f;
  font-family: 'open_sanslight';
}

.option.selected, .option.active {
  background: white!important;
  font-family: 'open_sanssemibold';
}

.selectize-dropdown [data-selectable] {
  padding: 3px 8px;
}

.selectize-control.single .selectize-input:after {
  @include sprite($big-arrow-down);
  transform: scale(0.6);
  position: absolute;
  top: 45%;
  right: 4px;
  margin-top: -3px;
  border-style: none;
  border-width: 0;
  border-color: none;
  cursor: pointer;
}

.selectize-control.single .selectize-input.dropdown-active:after {
  @include sprite($big-arrow-up);
  transform: scale(0.6);
  position: absolute;
  top: 45%;
  right: 4px;
  margin-top: -3px;
  border-style: none;
  border-width: 0;
}




