extends ../main

block title
  | Главная страница

block content
  main.content__main.main
    include ../_common/_mobilephones
    +productItem(mobiles)
    .content__pagination.pagination
      a(href="#").pagination__link.pagination__link_prev
      a(href="#").pagination__link.pagination__link_one.pagination__link_active 1
      a(href="#").pagination__link.pagination__link_two 2
      a(href="#").pagination__link.pagination__link_three 3
      a(href="#").pagination__link.pagination__link_next


