extends ../main

block title
  | Главная страница

block content
  main.content__main.main
    +productItem([{
      name :'Samsung GT-I9301I  GALAXY S 3',
      image : 'img/content/Samsung-GT-I9301I-b1.jpg',
      images: {image1: 'img/content/Samsung-GT-I9301I-s1.jpg',
               image2: 'img/content/Samsung-GT-I9301I-s2.jpg',
               image3: 'img/content/Samsung-GT-I9301I-s3.jpg'},
      articul :'128789',
      charact : {'Тип SIM-карты' : 'Micro-SIM',
      'Количество SIM-карт' : 1,
      'Цвет' : 'Белый',
      'ОС': 'Android',
      'Связь 3G' : 'Есть',
      '4G(LTE)' : 'Нет',
      'GPS-модуль' : 'Есть'},
      ratio : 4,
      presence : 'В наличии',
      info : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam tempora ex quas nesciunt praesentium, est assumenda quasi enim voluptatem dolor quam quaerat deleniti, quod officiis excepturi',
      price : '11 323'
    },
    {
      name :'Samsung GT-I9301I  GALAXY S 3',
      image : 'img/content/Samsung-GT-I9301I-b1.jpg',
      images: {image1: 'img/content/Samsung-GT-I9301I-s1.jpg',
               image2: 'img/content/Samsung-GT-I9301I-s2.jpg',
               image3: 'img/content/Samsung-GT-I9301I-s3.jpg'},
      articul :'128789',
      charact : {'Тип SIM-карты' : 'Micro-SIM',
      'Количество SIM-карт' : 1,
      'Цвет' : 'Белый',
      'ОС': 'Android',
      'Связь 3G' : 'Есть',
      '4G(LTE)' : 'Нет',
      'GPS-модуль' : 'Есть'},
      ratio : 4,
      presence : 'В наличии',
      info : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam tempora ex quas nesciunt praesentium, est assumenda quasi enim voluptatem dolor quam quaerat deleniti, quod officiis excepturi',
      price : '11 323'
    },
    {
      name :'Samsung GT-I9301I  GALAXY S 3',
      image : 'img/content/Samsung-GT-I9301I-b1.jpg',
      images: {image1: 'img/content/Samsung-GT-I9301I-s1.jpg',
               image2: 'img/content/Samsung-GT-I9301I-s2.jpg',
               image3: 'img/content/Samsung-GT-I9301I-s3.jpg'},
      articul :'128789',
      charact : {'Тип SIM-карты' : 'Micro-SIM',
      'Количество SIM-карт' : 1,
      'Цвет' : 'Белый',
      'ОС': 'Android',
      'Связь 3G' : 'Есть',
      '4G(LTE)' : 'Нет',
      'GPS-модуль' : 'Есть'},
      ratio : 4,
      presence : 'В наличии',
      info : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam tempora ex quas nesciunt praesentium, est assumenda quasi enim voluptatem dolor quam quaerat deleniti, quod officiis excepturi',
      price : '11 323'
    },
    {
      name :'Samsung GT-I9301I  GALAXY S 3',
      image : 'img/content/Samsung-GT-I9301I-b1.jpg',
      images: {image1: 'img/content/Samsung-GT-I9301I-s1.jpg',
               image2: 'img/content/Samsung-GT-I9301I-s2.jpg',
               image3: 'img/content/Samsung-GT-I9301I-s3.jpg'},
      articul :'128789',
      charact : {'Тип SIM-карты' : 'Micro-SIM',
      'Количество SIM-карт' : 1,
      'Цвет' : 'Белый',
      'ОС': 'Android',
      'Связь 3G' : 'Есть',
      '4G(LTE)' : 'Нет',
      'GPS-модуль' : 'Есть'},
      ratio : 4,
      presence : 'В наличии',
      info : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam tempora ex quas nesciunt praesentium, est assumenda quasi enim voluptatem dolor quam quaerat deleniti, quod officiis excepturi',
      price : '11 323'
    },
    {
      name :'Samsung GT-I9301I  GALAXY S 3',
      image : 'img/content/Samsung-GT-I9301I-b1.jpg',
      images: {image1: 'img/content/Samsung-GT-I9301I-s1.jpg',
               image2: 'img/content/Samsung-GT-I9301I-s2.jpg',
               image3: 'img/content/Samsung-GT-I9301I-s3.jpg'},
      articul :'128789',
      charact : {'Тип SIM-карты' : 'Micro-SIM',
      'Количество SIM-карт' : 1,
      'Цвет' : 'Белый',
      'ОС': 'Android',
      'Связь 3G' : 'Есть',
      '4G(LTE)' : 'Нет',
      'GPS-модуль' : 'Есть'},
      ratio : 4,
      presence : 'В наличии',
      info : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam tempora ex quas nesciunt praesentium, est assumenda quasi enim voluptatem dolor quam quaerat deleniti, quod officiis excepturi',
      price : '11 323'
    },
    {
      name :'Samsung GT-I9301I  GALAXY S 3',
      image : 'img/content/Samsung-GT-I9301I-b1.jpg',
      images: {image1: 'img/content/Samsung-GT-I9301I-s1.jpg',
               image2: 'img/content/Samsung-GT-I9301I-s2.jpg',
               image3: 'img/content/Samsung-GT-I9301I-s3.jpg'},
      articul :'128789',
      charact : {'Тип SIM-карты' : 'Micro-SIM',
      'Количество SIM-карт' : 1,
      'Цвет' : 'Белый',
      'ОС': 'Android',
      'Связь 3G' : 'Есть',
      '4G(LTE)' : 'Нет',
      'GPS-модуль' : 'Есть'},
      ratio : 4,
      presence : 'В наличии',
      info : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam tempora ex quas nesciunt praesentium, est assumenda quasi enim voluptatem dolor quam quaerat deleniti, quod officiis excepturi',
      price : '11 323'
    },
    {
      name :'Samsung GT-I9301I  GALAXY S 3',
      image : 'img/content/Samsung-GT-I9301I-b1.jpg',
      images: {image1: 'img/content/Samsung-GT-I9301I-s1.jpg',
               image2: 'img/content/Samsung-GT-I9301I-s2.jpg',
               image3: 'img/content/Samsung-GT-I9301I-s3.jpg'},
      articul :'128789',
      charact : {'Тип SIM-карты' : 'Micro-SIM',
      'Количество SIM-карт' : 1,
      'Цвет' : 'Белый',
      'ОС': 'Android',
      'Связь 3G' : 'Есть',
      '4G(LTE)' : 'Нет',
      'GPS-модуль' : 'Есть'},
      ratio : 4,
      presence : 'В наличии',
      info : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam tempora ex quas nesciunt praesentium, est assumenda quasi enim voluptatem dolor quam quaerat deleniti, quod officiis excepturi',
      price : '11 323'
    },
    {
      name :'Samsung GT-I9301I  GALAXY S 3',
      image : 'img/content/Samsung-GT-I9301I-b1.jpg',
      images: {image1: 'img/content/Samsung-GT-I9301I-s1.jpg',
               image2: 'img/content/Samsung-GT-I9301I-s2.jpg',
               image3: 'img/content/Samsung-GT-I9301I-s3.jpg'},
      articul :'128789',
      charact : {'Тип SIM-карты' : 'Micro-SIM',
      'Количество SIM-карт' : 1,
      'Цвет' : 'Белый',
      'ОС': 'Android',
      'Связь 3G' : 'Есть',
      '4G(LTE)' : 'Нет',
      'GPS-модуль' : 'Есть'},
      ratio : 4,
      presence : 'В наличии',
      info : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam tempora ex quas nesciunt praesentium, est assumenda quasi enim voluptatem dolor quam quaerat deleniti, quod officiis excepturi',
      price : '11 323'
    },
    {
      name :'Samsung GT-I9301I  GALAXY S 3',
      image : 'img/content/Samsung-GT-I9301I-b1.jpg',
      images: {image1: 'img/content/Samsung-GT-I9301I-s1.jpg',
               image2: 'img/content/Samsung-GT-I9301I-s2.jpg',
               image3: 'img/content/Samsung-GT-I9301I-s3.jpg'},
      articul :'128789',
      charact : {'Тип SIM-карты' : 'Micro-SIM',
      'Количество SIM-карт' : 1,
      'Цвет' : 'Белый',
      'ОС': 'Android',
      'Связь 3G' : 'Есть',
      '4G(LTE)' : 'Нет',
      'GPS-модуль' : 'Есть'},
      ratio : 4,
      presence : 'В наличии',
      info : 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam tempora ex quas nesciunt praesentium, est assumenda quasi enim voluptatem dolor quam quaerat deleniti, quod officiis excepturi',
      price : '11 323'
    }
    ])




